#pageTitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 50px;
    color: rgb(99, 88, 76);
}

#toDetails {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgb(99, 88, 76);
    width: 60%;
    padding: 10px 0px 10px 0px;
    font-size: 25px;
    border-radius: 20px;
    color: white;
    border-style: double;
    border-width: 5px;
    border-color: rgb(194, 172, 149);
    cursor: none;
    animation: detailbutton 3s ease infinite;
}

