.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d4afb9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App Body */

body {
  background-color: #ffffff;
  margin: 0;
}

#titleGroup {
  margin: 0;
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 18px;
}

.appHeader {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: space-around;
}

header {
  background-color: #e17f93;
  margin: auto;
  text-align: center;
  padding: 15px 0;
  border-color: #fca8c4;;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #e17f93;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-top-style: ridge;
  border-color: rgb(255, 242, 217);
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 242, 217);
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding: 7px 0;
  font-size: 13px;
}

.icon {
  color: rgb(255, 242, 217);
  margin-bottom: 4px;
  font-size: 22px;
}

.active {
  color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(137, 44, 44);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(137, 44, 44);
}
::-webkit-scrollbar-track {
  background: #ffffff;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
